:root {
  --primary-color: #282c34;
  --secondary-color: #61dafb;
  --white-color: #fff;
  --purple-start: #800080;
  --purple-end: #e6e6fa;
}

body {
  font-family: 'Roboto', sans-serif;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, var(--purple-start), var(--purple-end));
  color: var(--white-color);
}

.App-logo {
  height: 40vmin;
  animation: App-logo-spin infinite 20s linear;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--white-color);
}

.App-link {
  color: var(--secondary-color);
  text-decoration: none;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: var(--secondary-color);
  color: var(--white-color);
}

button:hover {
  background-color: var(--white-color);
  color: var(--secondary-color);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
